<VirtualHost _default_:443>
        # Conf Server
        ServerAdmin {{ server_admin }}
        DocumentRoot /var/www/html
        ServerName {{ fqdn }}
        
	# Opciones Rewrite
        RewriteEngine On
        RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
        RewriteRule .* - [F]
        
	# Certificado
        SSLEngine on

        # Cambios Seguridad
        SSLProtocol -all -SSLv3 -TLSv1 +TLSv1.1 +TLSv1.2
        SSLCipherSuite ALL:!aNULL:!ADH:!eNULL:!LOW:!EXP:!RC4:+HIGH:+MEDIUM:!DES:!3DES:!IDEA


	SSLCertificateFile /etc/pki/tls/certs/{{ cert_name }}.crt
	SSLCertificateKeyFile /etc/pki/tls/certs/server.key
	# SSLCertificateChainFile /etc/pki/tls/certs/intermediate.crt
	# SSLCaCertificateFile /etc/pki/tls/certs/root.crt


        SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown 

	# Logs
        CustomLog /var/log/httpd/{{ fqdn }}_access_log combined
        Errorlog /var/log/httpd/{{ fqdn }}_error_log
</VirtualHost>

